.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialog {
}

.dialogsItems .active {
    color: #bba21f;
}

.messages{
    padding: 10px;
}

.message {
}